@import "./_reset.css";
@import "./_variables.css";
@import "./_fonts.css";

@use postcss-preset-env(stage: 0);
@custom-media --medium-width (width >= 768px);
@custom-media --large-width (width >= 1024px);

body {
  font-family: var(--font-base);
}

main {
  background-color: var(--bg-light);
  width: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
  background-color: var(--bg-light);
  color: var(--white);
  padding: var(--spacing-300) var(--spacing-200) var(--spacing-400);
  height: auto;
  min-height: 100vh;
  @media (--large-width) {
    max-width: 80ch;
  }
}

.blog-title {
  margin-bottom: var(--spacing-300);
}

.h1 {
  font-size: var(--text-size-400);
}

.h2 {
  font-size: var(--text-size-300);
}

.h3 {
  font-size: var(--text-size-200);
}

.h4 {
  font-size: var(--text-size-100);
}

.about,
.writing,
.contact {
  color: var(--white);
  padding: var(--spacing-300) var(--spacing-200);

  @media (--medium-large) {
    padding: var(--spacing-200) var(--spacing-100);
  }
}

.nav {
  display: flex;
  .link {
    flex: 1;
  }
}

.link {
  display: inline-block;
  text-align: center;
  padding: var(--spacing-200) var(--spacing-100);
  font-family: var(--font-bold);
  font-size: var(--text-size-200);
}

.nav-links a {
  text-transform: uppercase;
}

.nav .link {
  &:hover,
  &:focus {
    background-color: var(--bg-complementary);
    color: var(--white);
  }
}

.grid {
  height: 100vh;
  @media (--medium-width) {
    --rows: 1fr 1fr;
    --cols: 1fr 1fr;
    display: grid;
    grid-template-rows: var(--rows);
    grid-template-columns: var(--cols);
    grid-template-areas:
      "about contact"
      "about writing";
  }
}

.about {
  grid-area: about;
  background-color: var(--bg-primary);
  text-align: center;
  @media (--medium-width) {
    text-align: initial;
  }
}

.about > .profile-img {
  --size: 7.8125rem;
  display: inline-block;
  width: var(--size);
  height: var(--size);
  margin-top: 1rem;
  margin-bottom: calc(
    ((var(--size) / 2) + var(--section-padding-v)) * -1
  ); /* Half img height - padding*/
  /* @media (--medium-width) {
    margin-bottom: 0;
  } */
  @media (--large-width) {
    display: none;
  }
}

.writing {
  grid-area: writing;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: var(--spacing-100);
  background-color: var(--bg-light);
  @media (--large-width) {
    text-align: right;
  }
}

.posts {
  padding: var(--spacing-90);
  display: flex;
  gap: var(--spacing-100);
  overflow-x: scroll;
  @media (--large-width) {
    margin-top: 0;
    align-self: center;
  }
  .post-link {
    flex: 1;
    min-width: 200px;
    min-height: 160px;
  }
  &.column {
    flex-direction: column;
    .post-link {
      min-width: 100%;
    }
  }
}

.post {
  height: 100%;
  display: grid;
  gap: var(--spacing-100);
  padding: var(--spacing-100);
  color: #000;
  background-color: var(--white);
  box-shadow: var(--shadow-mid);
}

.date {
  margin-top: auto;
}

.contact {
  grid-area: contact;
  display: grid;
  grid-template-areas: "title" "form";
  gap: var(--spacing-100);
  background-color: var(--bg-mid);
  @media (--medium-width) {
    grid-template-columns: auto 1fr;
    grid-template-areas: "title form";
    gap: var(--spacing-200);
  }
}

.contact-heading {
  @media (--medium-width) {
    grid-area: title;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-align: right;
  }
}

.contact-form {
  grid-area: form;
  display: grid;
  gap: var(--spacing-100);
  grid-template-areas:
    "name email email"
    "message message submit"
    "message message submit";
}

.contact-label {
  display: grid;
  grid-template-areas: "label" "input";
  gap: var(--spacing-90);
  font-family: var(--font-bold);
  & > input,
  & > textarea {
    grid-area: input;
    padding: var(--spacing-90);
    box-shadow: var(--shadow-mid);
    &:focus {
      outline: var(--block-outline);
    }
  }
}

.contact-name {
  grid-area: name;
}

.contact-email {
  grid-area: email;
}

.contact-message {
  grid-area: message;
}

.contact-submit {
  grid-area: submit;
  align-self: end;
}

.profile-img {
  width: clamp(100px, 10vw, 200px);
  height: clamp(100px, 10vw, 200px);
  border-radius: 50%;
  display: none;
  box-shadow: var(--shadow-mid);
  @media (--large-width) {
    display: block;
    grid-area: 2 / 2 / 3 / 3;
    transform: translate(-50%, -50%);
  }
}

button,
input,
textarea {
  display: block;
  width: 100%;
  background-color: var(--white);
  border: 0;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  &:focus {
    outline: 2px solid var(--block-outline);
  }
}
