---
import { getCollection } from "astro:content";
import PostsWrapper from "../components/PostsWrapper.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = await getCollection("blog");

const pageTitle = "All posts";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="container">
    <h1 class="h1 blog-title">Writing</h1>
    <PostsWrapper allPosts={allPosts} isColumn />
  </div>
</BaseLayout>
