---
import { getCollection } from "astro:content";
import Form from "../components/Form.astro";
import PostsWrapper from "../components/PostsWrapper.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
const pageTitle = "Home";

const allPosts = await getCollection("blog");
const identity = {
  firstName: "Eriks",
  country: "Latvia",
  occupation: "Software Engineer",
  hobbies: ["photography", "birdwatching", "baseball"],
};
const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];
---

<BaseLayout pageTitle="Home Page">
  <div class="grid">
    <section class="about">
      <h1 class="h1">{pageTitle}</h1>
      <p>Hey what's up?</p>
      <img
        class="profile-img"
        src="https://avatars.githubusercontent.com/u/62183555?v=4"
      />
    </section>
    <section class="writing">
      <h2 class="h2">Writing</h2>
      <PostsWrapper allPosts={allPosts} />
    </section>
    <section class="contact">
      <h3 class="h2 contact-heading">Get In Touch</h3>
      <Form />
    </section>
    <img
      class="profile-img"
      src="https://avatars.githubusercontent.com/u/62183555?v=4"
      alt="My profile picture"
    />
  </div>
</BaseLayout>
