---
import Form from "../components/Form.astro";
import Header from "../components/Header.astro";
import PostBox from "../components/PostBox.astro";
import "../styles/global.css";
const pageTitle = "Home";
const identity = {
  firstName: "Eriks",
  country: "Latvia",
  occupation: "Software Engineer",
  hobbies: ["photography", "birdwatching", "baseball"],
};
const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header />
    <main class="grid">
      <section class="about">
        <h1>{pageTitle}</h1>
        <p>Hey what's up?</p>
        <!-- <img
          class="profile-img"
          src="https://github.com/oliverjam.png"
          width="250"
          height="250"
        /> -->
      </section>
      <section class="writing">
        <h2>Writing</h2>
        <div class="writing-posts">
          <a href="/posts/post-1">
            <PostBox
              title="A nice post"
              description="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti, assumenda!"
              date="2018-11-28"
            />
          </a>
          <a href="/posts/post-2">
            <PostBox
              title="A nice post"
              description="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti, assumenda!"
              date="2018-11-28"
            />
          </a>
          <a href="/posts/post-3">
            <PostBox
              title="A nice post"
              description="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti, assumenda!"
              date="2018-11-28"
            />
          </a>
        </div>
      </section>
      <section class="contact">
        <h2>Get In Touch</h2>
        <Form />
      </section>
    </main>

    <!-- <img
        class="profile-img"
        src="https://github.com/oliverjam.png"
        width="150"
        height="150"
      /> -->
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>
