<form
  class="contact-form"
  action="mailto:erixk2807@gmail.com"
  method="POST"
  enctype="text/plain"
>
  <label class="contact-label contact-name"
    >Name
    <input type="text" name="name" required />
  </label>
  <label class="contact-label contact-email"
    >Email
    <input class="contact-email" type="email" name="email" required />
  </label>
  <label class="contact-label contact-message"
    >Message
    <textarea class="contact-message" name="message" rows="5" required
    ></textarea>
  </label>
  <button class="contact-submit" type="submit">↪️</button>
</form>
